.contact-post-text {
	width: 70%;
	margin: 0 auto;
	@media all and (max-width: 550px) {
		width: 100%;
	}
	h2 {
		@include header-font;
	}
}
.wpcf7-form-control {
	width: 100%;
	padding: .5em;
	border-radius: 3px;
	background: $ltGrey;
	border: none;
}
.wpcf7-submit {
	@include btn;
}
.contact-post-text {
	padding: 2% 5%;
	h2 {
		@include bold-font;
		font-size: 3em;
	}
}