// Hero Image
.custom-hero-image {
	position: relative;
	height: 650px;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	padding: 15% 5%;
	@media all and (max-width: 700px) {
		height: 480px;
		@media all and (max-width: 550px) {
			height: 350px;
			background-attachment: initial;
			padding: 20% 5%;
		}
	}
	.site-title{
		@include title-font;
		font-size: 11em;
		font-weight: 600;
		letter-spacing: 0.2em;
		color: $drkGrey;
		text-shadow: 2px 2px #fff;
		text-align: center;
		@media all and (max-width: 700px) {
			font-size: 6em;
		}
		@media all and (max-width: 400px) {
			font-size: 4.5em;
		}
	}
	.site-description{
		@include title-font;
		color: $drkGrey;
		text-align: center;
		font-size: 3em;
		text-shadow: 2px 2px #fff;
		@media all and (max-width: 400px) {
			font-size: 1.5em;
		}
	}
}
// END Hero Image

// Main Page / About Section
.mainPost {
	padding: 10% 0;
	.postText {
		width: 70%;
		color: $ltGrey;
		margin: 0 auto;
		h2 {
			@include header-font;
		}
		p {
			font-family: 'Quattrocento', serif;
			font-size: 1.7em;
			letter-spacing: 0;
		}
		@media all and (max-width: 950px) {
			width: 80%;
		}
	}
}
// End main page / About Section

// Featured blog post section
.blog-preview {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	.featured-post {
		width: 40%;
		float: left;
		height: 300px;
		margin: 10% 5%;
		background-size: cover;
		display: flex;
		align-content: center;
		justify-content: center;
		@media all and (max-width: 700px) {
			float: none;
			width: 80%;
			margin: 10% auto;
		}
		.post-title {
			background-color: rgba(0,0,0,0.7);	
			align-self: center;
			padding: 10px 20px;
			h2 {
				@include header-font;
				text-align: center;
			}
		}	
	}
}

// End Featured blog post section

// Instagram Feed
#sbi_images {
	display: flex;
	flex-wrap: wrap;
	.sbi_item {
		width: 16.66%;
		@media all and (max-width: 700px) {
			width: 25%;
		}
	}
}
#sbi_load {
	padding-top: 0!important;
}

